<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MCA - Discussion Forum</title>
  <link rel="stylesheet" href="/bootstrap.css" type="text/css">
  <link href="/style.css" rel="stylesheet" type="text/css">
</head>

    <body>
        <nav>
            <a href="/">
              <img class="logo" src="/header.png" width="500" height="100" >
            </a>
            <ul>
               <li><a href="/Register">Register</a></li>
               <li><a href="/login">Student Login</a></li>
               <li><a href="/tlogin">Teacher Login</a></li>
            </ul>
          </nav>   
          
          <div class="container mt-4">
            <div class="card">
              <div class="card-header">
                Register form
              </div>
              <div class="card-body">
                <form role="form" method="post" action="/Register" enctype="multipart/form-data">
                    <% if (message.length > 0) { %>
                        <div class="alert alert-success col-sm-12"><%= message %></div>
                    <% } %>
                    <div id="signupalert" style="display:none" class="alert alert-danger">
                        <p>Error:</p>
                        <span></span>
                    </div>

                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="Name" placeholder="your Name">
                  </div>                        
                            
                <div class="form-group">
                    <label for="image">Profile Image</label>           
                        <input class="form-control" type="file" name="uploaded_image" accept=""/>   
                </div>      
        
                  <div class="form-group">
                    <label for="email">email</label>
                    <input type="email" class="form-control" id="email" name="email_id" placeholder="Email">
                  </div>
        
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="password">
                    </div>  

                    <div class="form-group">
                      <label for="Semester_course">Course</label>
                      <input type="text" class="form-control" id="Semester_course" name="Semester_course" placeholder="Semester">
                      </div>  
                    
                    <button type="submit" class="btn btn-primary">Register</button>
            </form>
              </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>         
</body>
</html>

